/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2016, 8:53:46 AM
    Author     : HTML Team
*/
@font-face {
    font-family: tahoma;
    src: url(../fonts/tahoma.ttf);
}
@font-face {
    font-family: tahoma-bold;
    src: url(../fonts/tahomabd.ttf);
}
@font-face {
    font-family: open-regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: open-bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: open-light;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face{
	font-family: UVN;
	src:url(../fonts/UVNMauTim1.ttf);
}
/*General Custom*/
.tahoma-font{font-family: tahoma;}
.tahoma-font-bold{font-family:tahoma-bold;}
.open-regular{font-family: open-regular;}
.open-bold{font-family: open-bold;}
.open-light{font-family: open-light;}
.uvn-font{font-family: UVN;}
.disable-padding{padding:0px;}
.disable-padding-left{padding-left:0px;}
.disable-padding-right{padding-right:0px;}
.disable-padding-top{padding-top:0px;}
.disbale-padding-bottom{padding-bottom:0px;}
.disable-margin{margin:0px;}
.disable-margin-left{margin-left:0px;}
.disable-margin-right{margin-right:0px;}
.disable-margin-top{margin-top:0px;}
.disable-margin-bottom{margin-bottom:0px;}
a:hover{text-decoration: none; cursor: pointer;}
a{cursor: pointer;}
a:focus{outline: none;}

/*End general*/

/*Intro-popup*/
.intro-background{background:url("../img/intro-background.png") no-repeat; background-size:100%;}
.intro-box{width:1050px; height:650px; margin:0 auto; background-color:rgba(0,0,0, 0.5);}
.intro-row-block{display:flex;}
.logo-intro-box{width:30%; margin-top:30px; margin-left:30px;}
.intro-text-box{width:66%; margin-left:30px; margin-top:76px;}
.intro-headding{color:#fff; line-height: 1.3em;}
.text-slogan-intro{color:#fff;}
.multilanguage-box-intro{width:20%; margin-left:30px; position: absolute; bottom:40px;}
.intro-left-block{height:650px;}
.intro-right-block{height:650px; background-color:rgba(255,255,255, 0.1);}
.intro-menu-left{padding-left:10px; padding-right:40px;}
.menu-intro-popup{margin-top:10px; height:650px;}
.intro-home-menu-background{height:30px; background:url("../img/intro-home-menu-background.png") no-repeat; background-size:100%; }
.intro-home-link{height:30px; width:100%; display:block;}
.home-icon{padding-left:32px; font-size:18px; color:#fff;}
.home-text-icon{padding-left:20px; font-size:18px; color:#fff;}
.big-block{border:1px solid rgba(255,255,255, 0.3);}
.img-max-width{max-width:100%; width:104px; height:84px;}
.block-content{padding-left:10px; padding-top:10px;}
.intro-padding{padding-left:10px;}
.flexi-row{display:flex;}
.menu-text-intro{color:#fff; position: absolute; bottom:0px;}
.intro-link-height{height:100%; display:block;}
.block-content:last-of-type{padding-bottom:20px;}
/*End intro-popup*/

/*Home*/
.navbar-nhaam{margin-bottom:0px; border-radius:0px; border:none;}
.navbar-mini-nhaam li a{color:#fff !important;}
.navbar-mini-nhaam li.active a{color:#eb1c24 !important}
.navbar-mini-nhaam li a:hover{color:#eb1c24 !important;}
.navbar-mini-nhaam li:nth-child(2) a{float:left;}
.navbar-mini-nhaam li:nth-child(2) span{float:left; color:#fff; top:20px; cursor: pointer;} 
.navbar-mini-nhaam li:nth-child(7) a{float:left;}
.navbar-mini-nhaam li:nth-child(7) span{float:left; color:#fff; top:20px; cursor: pointer;}
.navbar-mini-nhaam li:nth-child(9) a{padding-left:0px; padding-right:5px;}
.navbar-mini-nhaam li:nth-child(10) a{padding-left:0px; padding-right:5px;}
.navbar-mini-nhaam li:nth-child(11) a{padding-left:0px; padding-right:5px;}
.col-md-3-5{width:16%; float:left;}
.col-md-9-5{width:84%; float:left;}
.home-slider{width:100%; position: relative;}
.home-slider ul.slides{width:100%;}
.home-slider img{width:100%;}
.home-slider .flex-control-nav{display:block; bottom:0px; z-index: 10;}
.home-slider .flex-control-nav li a.flex-active {background-color:#eb1c24;}
.home-slider .flex-control-nav li a{background-color:#fff;}
.home-slider .flex-control-nav li a:hover{background-color:#eb1c24;}
.flex-control-nav{display:none;}
.flex-direction-nav{display:none;}
.logo-nhaam{z-index:10; position: absolute;}
.background-home{background:url("../img/body-background.png") no-repeat; background-size:cover; background-position: 50% 50%;}
.col-md-1-5{float:left; width:12.333%;}
.col-md-9-6{float:left; width:86.333%; margin-left:4px;}
.about-us-home-box{background:url("../img/about-den.png") no-repeat; background-size:100%; height:220px; margin-left:15px; margin-top:15px; margin-right:20px;}
.content-block-box{background-color:#b7b7b7;}
.about-link-home{width:100%; height:100%; display:block;}
.heading-slogan{color:#fff; position: absolute; top:25%; left:29%; color:#eb1c24;}
.about-slogan-txt{position: absolute; top:42%; left: 29%; color:#fff;}
.read-more-btn{position: absolute; top:68%; left:29%; background-color:#393b3e; color:#fff; border:none;}
.home-slider-2 .slider-2{height:402px; width:100%;}
.home-slider-2{margin-left:15px; margin-right:20px;}
.home-slider-2{position: relative;}
.home-slider-2 .flex-control-nav{width:100%; bottom:0px; display:block; z-index: 999;}
.home-slider-2 .flex-control-nav li a{background-color:#fff;}
.home-slider-2 .flex-control-nav li a.flex-active{background-color:#eb1c24;}
.home-slider-2 .flex-direction-nav{display:block;}
.home-slider-2 .flex-prev{left:10px; opacity:1; background:url("../img/prev-slide.png") no-repeat; height:46px;}
.home-slider-2 .flex-next{right:0px; opacity:1; background:url("../img/next-slide.png") no-repeat; height:46px;}
.flex-direction-nav a::before{content:"";}
.flex-direction-nav a.flex-next::before{content:"";}
.nhaam-margin-top{margin-top:15px;}
.category-margin-top{margin-top:15px; padding-bottom:20px;}
.category-box img{height:220px; width:100%;}
.category-box{position: relative;}
.category-box-img{position: absolute; bottom:0px; right:0px;}
.custom-navigation{display:table;}
.custom-controls-container{display:table-cell;}
.home-slider-3 li img{max-width:100%; height:180px;}
.home-slider-3{ width:920px; margin:0 auto; margin-top:15px; position: relative;}
.category-box-img .logo-mini-nhaam-box{max-width:100%; width:auto; height:auto;}
.category-box-sup{position: absolute; bottom:15px; width:78%; background-color:rgba(0,0,0,0.3); border-left:2px solid #eb1c24; padding-left:18px; padding-top:10px;}
.category-text-sup{color:#fff;}
.footer-background-color{background-color:#000000;}
.white-text{color:#fff;}
.padding-top-footer{padding-top:25px;}
.all-grey{color:#ccc; font-size:13px;}
.home-slider-3 .flex-direction-nav{display:block;}
.home-slider-3 .flex-prev{display:block; opacity: 1; background:url("../img/red-prev.png") no-repeat; height:50px; left:-30px;}
.home-slider-3 .flex-next{display:block; opacity: 1; background:url("../img/red-next.png") no-repeat; height:50px;}
.style-for-number{display:inline; float:left;}
.padding-hotline{padding-left:10px;}
.address-box{border-bottom:1px solid #ccc;}
.row-mobile{display:none;}
.row-desktop p{text-align: center; padding-top:10px;}
.font-descrease{font-size:10px;}
.margin-for-slider{margin-bottom:30px;}
.slide-father-caption{position: relative;}
.re-width{width:100%;}
.slogan-text-slider{color:#eb1c24;}
.slogan-slider-box{position:absolute; left:74%; bottom:20px; z-index: 10; background:url("../img/slogan-background.png") no-repeat; background-size: 100%; width:250px; height:40px;}
.slogan-slider-box p{font-size:25px; text-align: center;}
/*End home*/

/*Introduction*/
.nav-tabs > li > a{border:none;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border:none;}
.nav-tabs > li{margin-bottom:0px;}
.navtab-nhaam{background-color:#4d4d4d; border:none; margin-left:25px; margin-right:25px;}
.navtab-nhaam li a{color:#fff; cursor: pointer; border-radius: 0px; margin-bottom:0px;}
.navtab-nhaam li.active a:hover{background-color:#4d4d4d; border-radius: 0px; border:none; border-bottom: 2px solid #eb1c24; color:#fff; cursor: pointer;}
.navtab-nhaam li.active a{background-color:#4d4d4d; border-radius: 0px; border:none; border-bottom: 2px solid #eb1c24; color:#fff; cursor: pointer;}
.navtab-nhaam li.active a:focus{background-color:#4d4d4d; border-radius: 0px; border:none; border-bottom: 2px solid #eb1c24; color:#fff; cursor: pointer;}
.navtab-nhaam li a:hover{background-color:#4d4d4d; border-radius: 0px; border:none;  color:#fff; cursor: pointer;  border-bottom: 2px solid #eb1c24;}
.navtab-nhaam li:after{content:""; position: absolute; z-index: 10; height:28px; width:1px; background-color:rgba(0,0,0,0.2); top:7px;}
.navtab-nhaam li:first-of-type::after{display:none;}
.navtab-nhaam li a:focus{background-color:#4d4d4d; border-radius: 0px; border:none;  color:#fff; cursor: pointer;  border-bottom: 2px solid #eb1c24;}
.main-content{background-color:#b7b7b7; padding-bottom:30px; margin-bottom:20px; padding-top:20px; }
.block-img-1{padding-top:15px; padding-left:25px;}
.block-img-2{padding-top:15px; padding-right:25px;}
.block-img-3{margin-bottom:15px;}
.block-img-4{margin-bottom:15px;}
.full-size{width:100%;}
.song-box{text-align:center; background-color:#fff; margin-left:25px; margin-right:25px; margin-top:15px; margin-bottom:15px;}
/*End introduction*/

/*Product congnghiep*/
/*.inscrease-padding-bit{padding-left:25px;}*/
.product-list .tab-content{margin-left:10px; margin-right:10px;}
.thumb-nail-img{width:100%; padding:10px; background-color:#fff;}
.gian-cach{margin-top:10px; margin-bottom:10px; overflow:hidden; position: relative;}
/*End product congnghiep*/

/*Tintuc*/
/*.sub-menu-tintuc{display:block; padding-left: 0;position: absolute; width: 1120px; top:48px; height:20px;}
.sub-menu-tintuc li{float:left; display:block; position: relative;}
.sub-menu-tintuc li a{padding:10px 15px; text-transform: uppercase; font-size:12px; background-color:#e7e7e7; color:#000; font-family: open-regular}
.sub-menu-tintuc li.active a{padding:10px 15px; text-transform: uppercase; font-size:12px; background-color:#e7e7e7; color:#000; font-family: open-regular}
.sub-menu-tintuc li:after{display:none;}
.sub-menu-tintuc li a:hover{padding:10px 15px; text-transform: uppercase; font-size:12px; background-color:#fff; color:#000; font-family: open-regular;}
.sub-menu-tintuc li:after{content:""; display:block;background-color: rgba(255, 255, 255, 1); height: 28px;position: absolute; top:-3px; width: 1px;z-index: 10; transform: skewX(14deg); }*/
.tin-tuc .tab-content{margin-top:38px;}
.row-tintuc{margin-left:10px; margin-right:10px;}
.tin-tuc-block{background-color:#000; padding:10px 10px;border-radius: 15px; display:flex;}
.tintuc-title{font-size:18px; text-transform: uppercase; color:#fff; border-bottom:1px solid #331516; padding-bottom: 10px; }
.read-more-tt{left:15px; bottom:0px; top:auto; }
.margin-tottom{margin-bottom:15px;}
/*End tin tuc*/


/*CUSTOM*/
.navtab-nhaam li a.active{
    background-color: #4d4d4d;
    border-radius: 0px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-bottom: 2px solid #eb1c24;
}