.modal-lvideo {
	padding: 30px;
	left: 50%;
	top: 50%;	
	position: fixed;
	z-index: 500;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.modal-lvideo.size-m {
	width: 600px;
	height: 400px;
}

.modal-lvideo.size-l {
	width: 700px;
	height: 500px;
}

.modal-lvideo.size-s {
	width: 500px;
	height: 300px;
}

.modal-bg-lvideo {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.5;
	top: 0;
	left: 0;
	z-index: 100;
}

.modal-close-lvideo {
	color: #b1b0ac;
	font-size: 30px;
	line-height: .5;
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	cursor: pointer;
}

.modal-close-lvideo:hover {
	color: #e72626;
}