@charset "utf-8";

/* CSS Document */



div.pagination {
width:100%;
}



div.pagination a {

font-weight:400;

text-decoration:none;

color:green;

background-color:#fff;

border:1px solid #bababa;

font-size:0.9em;

line-height:1.5em;

margin:0 2px;

padding:0 2px;

}



div.pagination a:hover,div.pagination a:active {

background-color:#2ac002;

color:#FFF;

text-decoration:none;

border-color:#219203;

}



div.pagination span.current {

font-weight:400;

color:#FFF;

border:1px solid #219203;

background-color:#2ac002;

font-size:0.9em;

margin:0 2px;

padding:0 2px;

}



div.pagination span.disabled {

visibility: hidden;

}

div.pagination a,

div.pagination span.current,

div.pagination span.disabled  {

-moz-border-radius: 2px;

-khtml-border-radius: 2px;

-webkit-border-radius: 2px;

border-radius: 2px;

padding: 2px 4px;

}