@charset "utf-8";
/* CSS Document */

div.pagination {
    padding: 9px;
}

div.pagination a {
    border:1px solid #CCCCCC;
    color:#000000;
    padding:4px 7px;
    text-decoration:none;
    margin-left: 2px;
}
div.pagination li{
    display: inline;
}
div.pagination a:hover,div.pagination a:active {

    text-decoration:none;
    border-color:#998675;
}

div.pagination li.active {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #CCCCCC;
    color:red;
    padding:4px 7px;
    text-decoration:none;
    margin-left: 2px;
}