html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #FFFFFF;
}
body, td, th, input, select, textarea, option, optgroup {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}
input[type='text'] {
    padding: 2px;
}
select {
    padding: 1px;
}
textarea {
    padding: 2px;	
}
a, a:visited {
    color: #003366;
    cursor: pointer;
    text-decoration: none;
}
form {
    margin: 0;
    padding: 0;
}
form textarea{width: 90%;height: 100px;}
.width_90{width: 90%;}
.width_50{width: 50%;}
.width_75{width: 75%;}
#header {
    height: 56px;
    padding: 0px 30px;
    background: url('../image/header.png') repeat-x;
    min-width: 900px;		
}
#header .div1 {
    color: #FFFFFF;
    padding: 18px 0px 0px 0px;
    float: left;
}
#header .div2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: right;
    padding: 14px 0px 0px 0px;
    float: right;
}
#header .div2 span {
    font-weight: bold;
}
#menu {
    background: url('../image/menu.png') repeat-x;
    position: relative;
    z-index: 1;
    height: 34px;
    clear: both;
    padding: 0px 30px;
    min-width: 900px;		
}
.button_v1 {
    -moz-border-radius:3px 3px 3px 3px;
    background:none repeat scroll 0 0 #0356AB;
    border-color:#084577 #7AB7E8 #7AB7E8 #084577;
    border-style:solid;
    border-width:1px;
    color:#FFFFFF !important;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
    font-weight:bold;
    padding:3px;
}
tr:hover td{background:#ffffbe;}
a.children{margin-left: 10px;color:#ff6b00;}
.button_v2 {
    -moz-border-radius:3px 3px 3px 3px;
    background:none repeat scroll 0 0 #ddd;
    border-color:#084577 #7AB7E8 #7AB7E8 #084577;
    border-style:solid;
    border-width:1px;
    color:#003366;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
    font-weight:bold;
    padding:3px;
}
ul, li {
    list-style-type:none;
}

ul.left {
    float: left;
}
ul.right {
    float: right;
}
.nav {
    position: relative;
    margin: 0;
    padding: 0;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: url('../image/transparent.png');
}
.nav a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
}
.nav > li + li {
    background: url('../image/split.png') center left no-repeat;
}
.nav .top, .nav li li.sfhover {
    padding: 10px 15px 9px 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;

}
.nav ul li {
    padding: 2px;
}
.nav .selected .top {
    background: url('../image/selected.png') repeat-x;
    color: #fff;
}
.nav .selected:hover a.top, .nav .sfhover a.top {

}
.nav .parent {
    background: url('../image/arrow_right.png') 95% center no-repeat;
}
.nav li {
    float: left;
    list-style: none;
}
.nav li ul {
    position: absolute;
}
.nav li li {
    clear: both;
}
.nav li ul a {
    color: #fff;
    height: 15px;
    width: 145px;
}

.nav li ul ul {
    margin: -27px 0 0 157px;
}
.nav li li:hover, .nav li li.sfhover {

    background: #3c3c3c;
    color: #000000;
}
#content {
    background: #FFFFFF url('../image/background.png') 0px 1px repeat-x;
    padding: 10px 30px 0px 30px;
    min-width: 900px;
    padding-bottom: 128px;
    clear: both;
}
#container {
    height: 100%;
}
body > #container {
    height: auto; 
    min-height: 100%;
}
#footer {
    background: #FFFFFF url('../image/footer.png') repeat-x;
    height: 90px;
    padding-top: 38px;
    text-align: center;
    font-size: 12px;
    color: #333;
    position: relative;
    margin-top: -128px;
    clear: both;
}
#footer a {
    color: #333;
    text-decoration: underline;
}
.breadcrumb, .breadcrumb a {
    font-size: 12px;
    color: #000;
    margin-bottom: 15px;
}
.success {
    padding: 5px 0px;
    margin-bottom: 15px;
    background: #ffffe0;
    border: 1px solid #e6db55;
    font-size: 12px;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.warning {
    padding: 15px 0px;
    margin-bottom: 15px;
    background: #FFDFE0;
    border: 1px solid #FF9999;
    font-size: 12px;
    text-align: center;
}
.attention {
    padding: 15px 0px;
    margin-bottom: 15px;
    background: #FEFBCC;
    border: 1px solid #E6DB55;
    font-size: 12px;
    text-align: center;	
}
.box {
    margin-bottom: 15px;
}
.box > .heading {
    height: 40px;
    background: url('../image/box_center.png') repeat-x;
    margin-bottom: 0px;
}
.box > .left {
    float: left;
    width: 7px;
    height: 40px;
    background: url('../image/box_left.png') no-repeat;
}
.box > .right {
    float: right;
    width: 7px;
    height: 40px;
    background: url('../image/box_right.png') no-repeat;
}
.box > .heading h1 {
    background-position:  2px 9px;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 11px 0px 11px 30px;
    color: #003A88;
    font-size: 16px;
    float: left;
}
.box > .heading .buttons {
    float: right;
    padding-top: 8px;
}
.box > .content {
    padding: 10px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    min-height: 300px;
}
.button {
    padding-left: 8px;
    display: inline-block;
    margin-right: 5px;
    background: url('../image/button_left.png') top left no-repeat;
}
.button span {
    color: #FFF;
    display: block;
    padding: 5px 10px 5px 2px;
    background: url('../image/button_right.png') top right no-repeat;
}
.list {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}
.list td {
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.list thead td {
    background-color: #EFEFEF;
    padding: 0px 5px;
}
.list thead td a, .list thead td {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
.list tbody a {
    /*text-decoration: underline;*/
}
.list tbody td {
    vertical-align: middle;
    padding: 0px 5px;
}
.list tbody tr:odd {
    background: #FFFFFF;
}
.list tbody tr:even {
    background: #E4EEF7;
}
.list .left {
    text-align: left;
    padding: 7px;
}
.list .right {
    text-align: right;
    padding: 7px;
}
.list .center {
    text-align: center;
    padding: 7px;
}
.list .asc {
    padding-right: 15px;
    background: url('../image/asc.png') right center no-repeat;
}
.list .desc {
    padding-right: 15px;
    background: url('../image/desc.png') right center no-repeat;
}
.list .filter td {
    padding: 5px;
    background: #E7EFEF;
}
.pagination {
    margin-top: 12px;
    border-top: 1px solid #EEEEEE;
    background: #F8F8F8;
    display: inline-block;
    width: 98.6%;
}
.pagination .links, .pagination .results {
    padding: 9px;
}
.pagination .links {
    float: left;
}
.pagination .links a {
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
}
.pagination .links b {
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
    background: #FFFFFF;
}
.pagination .results {
    float: right;
}
.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}
table.form tr td:first-child {
    width: 150px;
}
.form > * > * > td {
    padding: 10px;
    color: #000000;
    border-bottom: 1px dotted #CCCCCC;
    vertical-align: top;
}
.help {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
    display: block;
}
.required {
    color: #FF0000;
    font-weight: bold;
}
.error {
    color: #FF0000;
    padding-top: 3px;
    display: block;
    font-size: 12px;
    font-weight: normal;
}
.scrollbox {
    border: 1px solid #CCCCCC;
    width: 350px;
    height: 100px;
    background: #FFFFFF;
    overflow-y: scroll;
}
.htabs {
    padding: 0px 0px 0px 10px;
    height: 30px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px;
}
.htabs a {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    background: #FFFFFF url('../image/tab.png') repeat-x;
    padding: 6px 15px 7px 15px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin-right: 2px;
}
.htabs a.selected {
    padding-bottom: 8px;
    background: #FFFFFF;
}
.vtabs {
    width: 180px;
    padding: 10px 0px;
    min-height: 300px;
    float: left;
    display: block;
    border-right: 1px solid #DDDDDD;
}
.vtabs a {
    display: block;
    float: left;
    width: 150px;
    margin-bottom: 5px;
    clear: both;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background: #F7F7F7;
    padding: 6px 14px 7px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    color: #000000;
}
.vtabs a.selected {
    padding-right: 15px;
    background: #FFFFFF;
}
.vtabs_page {
    margin-left: 195px;
}
.scrollbox div {
    padding: 3px;
}
.scrollbox div input {
    margin: 0px;
    padding: 0px;
    margin-right: 3px;
}
.scrollbox div.even {
    background: #FFFFFF;
}
.scrollbox div.odd {
    background: #E4EEF7;
}
button  {
    -moz-border-radius:3px 3px 3px 3px;
    background:none repeat scroll 0 0 #0356ab;
    border-color:#084577 #7AB7E8 #7AB7E8 #084577;
    border-left:1px solid #084577;
    border-style:solid;
    border-width:1px;
    color:#FFFFFF;
    font-size:13px;
    font-weight:bold;
    padding:3px;
    font-family:Arial,Helvetica,sans-serif;
    cursor: pointer;
}

/*

* 
* 
* 
* */

.t_a_image {
    border:2px solid gainsboro;
    margin-bottom:5px;
    margin-right:5px;
}
.t_a_ui_helper_loading {
    background:url("../image/loading.gif") no-repeat scroll center center transparent;
    height:20px;
    line-height:20px;
    margin:0 auto;
    padding-left:15px;
    padding-right:15px;
    text-align:center;
    text-decoration:none;
}
.clearfix t_a_bottom {
    min-height: 100px;
}
/* commnents */
.comments{
    color: #777;
    font-size: 12px;
    clear: both;
    padding: 5px 0px;
}
#status{
    cursor: pointer;
}
.width_20{width: 20% !important;}
.width_30{width: 30% !important;}
.width_40{width: 40% !important;}
.width_50{width: 50% !important;}
a{font-weight: bold;}
input[type="text"],textarea, select{border: 1px solid #ddd;padding: 4px 3px;color: #333;font-weight: bold;}
input[type="text"]{width: 50%;}
input[type="submit"]{cursor: pointer;}
.nav .top, .nav li li.sfhover{
    padding: 10px 7px 9px 10px;
}